In [175]:
import numpy as np
import pandas as pd
import ast

In [176]:
movies =pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [177]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [178]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [179]:
movies.shape

(4803, 20)

In [180]:
credits.shape

(4803, 4)

In [181]:
movies= movies.merge(credits, on = 'title')

In [182]:
movies.shape

(4809, 23)

In [183]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [184]:
#genre id title keywords overview cast crew 
movies = movies[['movie_id','title','genres','keywords', 'cast','crew','overview']]

In [185]:
movies.head(1)

,movie_id,title,genres,keywords,cast,crew,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [186]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
cast        0
crew        0
overview    3
dtype: int64

In [187]:
movies.dropna(inplace = True)

movies.duplicate()

In [188]:
movies.duplicated().sum()

0

In [189]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [190]:
#creting the function to get the name of the genres
def convert(obj):
    L = []
    for i  in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [191]:
movies['genres'] = movies['genres'].apply(convert)

In [192]:
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [193]:
movies.head(1)

,movie_id,title,genres,keywords,cast,crew,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [194]:
movies['keywords'] = movies['keywords'].apply(convert)

In [195]:
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [196]:
# getting the name of the first three main actor
def convert3(obj):
    L = []
    counter = 0
    for i  in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [197]:
movies['cast']= movies['cast'].apply(convert3)

In [198]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [199]:
#fromt the crew importing the name of the director
def convert3(obj):
    L = []
    for i  in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
            break
    return L

In [200]:
movies.head(1)

,movie_id,title,genres,keywords,cast,crew,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","In the 22nd century, a paraplegic Marine is di..."

In [201]:
movies['crew']=movies['crew'].apply(convert3)

In [202]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [203]:
movies.head(1)

,movie_id,title,genres,keywords,cast,crew,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [204]:
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

In [205]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [206]:
new_df = movies[['movie_id','title','tags']]

In [207]:
new_df['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [208]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\acer\AppData\Local\Temp\ipykernel_14264\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [209]:
new_df['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [210]:
new_df.head(5)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [211]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [212]:
new_df['tags'][1]

"Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. Adventure Fantasy Action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski"

In [213]:
import nltk

In [214]:
#stamming the text
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [215]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [216]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [217]:
#vectorization of the data 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [218]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [219]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [220]:
vector.shape

(4806, 5000)

In [221]:
#calculatig the distance
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vector)

array([[1.        , 0.08964215, 0.05976143, ..., 0.02519763, 0.02817181,
        0.        ],
       [0.08964215, 1.        , 0.0625    , ..., 0.02635231, 0.        ,
        0.        ],
       [0.05976143, 0.0625    , 1.        , ..., 0.02635231, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02635231, ..., 1.        , 0.0745356 ,
        0.04836508],
       [0.02817181, 0.        , 0.        , ..., 0.0745356 , 1.        ,
        0.05407381],
       [0.        , 0.        , 0.        , ..., 0.04836508, 0.05407381,
        1.        ]])

In [222]:
similarity = cosine_similarity(vector)

In [223]:
similarity[1]

array([0.08964215, 1.        , 0.0625    , ..., 0.02635231, 0.        ,
       0.        ])

In [224]:
#sortring the movie
sorted(list(enumerate(similarity[0])), reverse=True , key= lambda x:x[1])

[(0, 1.0),
 (539, 0.26089696604360174),
 (1194, 0.2581988897471611),
 (507, 0.25302403842552984),
 (260, 0.25110592822973776),
 (1216, 0.24944382578492943),
 (582, 0.24397501823713333),
 (1920, 0.243599382882345),
 (3730, 0.23904572186687872),
 (1444, 0.2344036154692477),
 (74, 0.22677868380553634),
 (3608, 0.2238868314198225),
 (322, 0.22230800575069137),
 (83, 0.22190115272469205),
 (61, 0.22131333406899523),
 (1204, 0.2193633988428327),
 (2333, 0.2173253797873328),
 (2409, 0.21653278478430668),
 (47, 0.2164218276749025),
 (495, 0.2162249910469341),
 (4192, 0.2162249910469341),
 (972, 0.21602468994692864),
 (1537, 0.21602468994692864),
 (942, 0.21251185925162067),
 (466, 0.2114722130550724),
 (1329, 0.21147221305507238),
 (2971, 0.21096325392232296),
 (2204, 0.2059714602177749),
 (973, 0.20291986247835692),
 (1201, 0.20283702113484398),
 (151, 0.19920476822239894),
 (1275, 0.19889806323953876),
 (4048, 0.1980534816610477),
 (2999, 0.19518001458970666),
 (4405, 0.19518001458970666),
 (3538, 0.19451950503185494),
 (3327, 0.1938916835823703),
 (305, 0.19320245583349133),
 (3162, 0.19317811536651805),
 (2786, 0.19166296949998196),
 (150, 0.1901597073139162),
 (27, 0.1893524273324603),
 (1321, 0.1889822365046136),
 (220, 0.18832944617230335),
 (931, 0.18832944617230335),
 (1071, 0.18708286933869706),
 (36, 0.18478728707195913),
 (300, 0.18478728707195913),
 (301, 0.1831403087002079),
 (184, 0.1825741858350554),
 (4, 0.18257418583505536),
 (461, 0.18018749253911176),
 (67, 0.17928429140015903),
 (46, 0.1765469659009499),
 (7, 0.1763834207376394),
 (373, 0.17622684421256032),
 (1831, 0.17445567519772937),
 (2496, 0.17251638983558856),
 (2731, 0.17251638983558856),
 (149, 0.1717355162964367),
 (26, 0.17142857142857143),
 (1344, 0.17142857142857143),
 (661, 0.17036708399998393),
 (208, 0.1690308509457033),
 (838, 0.1690308509457033),
 (1808, 0.1690308509457033),
 (4010, 0.1690308509457033),
 (108, 0.16903085094570328),
 (94, 0.16574838603294897),
 (581, 0.16574838603294897),
 (1396, 0.16408253082847338),
 (31, 0.16265001215808886),
 (2515, 0.16265001215808886),
 (1297, 0.16239958858823),
 (4336, 0.16239958858823),
 (168, 0.16035674514745463),
 (1383, 0.16035674514745463),
 (91, 0.15971914124998493),
 (3354, 0.15694120514358612),
 (3628, 0.15694120514358612),
 (311, 0.1564921592871903),
 (1965, 0.1553638665664663),
 (577, 0.15430334996209188),
 (158, 0.15289415743128765),
 (502, 0.15289415743128765),
 (1355, 0.15289415743128765),
 (111, 0.15179418517972906),
 (1178, 0.15179418517972906),
 (2169, 0.15179418517972906),
 (172, 0.15118578920369088),
 (490, 0.15118578920369088),
 (17, 0.15026857675938213),
 (1938, 0.14953343588376802),
 (422, 0.14754222271266348),
 (505, 0.14754222271266348),
 (1488, 0.14754222271266348),
 (41, 0.14638501094227999),
 (84, 0.1456438162508838),
 (332, 0.1449427589131121),
 (557, 0.1449427589131121),
 (568, 0.1449427589131121),
 (2686, 0.1449427589131121),
 (56, 0.14414999403128942),
 (249, 0.14414999403128942),
 (1327, 0.14414999403128942),
 (2584, 0.14414999403128942),
 (3999, 0.14414999403128942),
 (1220, 0.14285714285714285),
 (1322, 0.14201432049934523),
 (487, 0.14098147537004826),
 (187, 0.14085904245475275),
 (1945, 0.14085904245475275),
 (1673, 0.1406421692815486),
 (4348, 0.1406421692815486),
 (2873, 0.13930903806377162),
 (52, 0.1389425035941821),
 (413, 0.1389425035941821),
 (1833, 0.13801311186847084),
 (2620, 0.13801311186847084),
 (2970, 0.13801311186847084),
 (4490, 0.13801311186847084),
 (2133, 0.13801311186847082),
 (1015, 0.13710212427677043),
 (3409, 0.13710212427677043),
 (3622, 0.13710212427677043),
 (127, 0.13662601021279464),
 (342, 0.13662601021279464),
 (2480, 0.13552618543578768),
 (595, 0.13533299049019168),
 (1299, 0.13533299049019168),
 (1479, 0.13533299049019168),
 (68, 0.13522468075656266),
 (134, 0.13522468075656266),
 (368, 0.13522468075656266),
 (1158, 0.13522468075656266),
 (1002, 0.13433209885189348),
 (3675, 0.1336306209562122),
 (1047, 0.13259870882635919),
 (1096, 0.13259870882635919),
 (1747, 0.13259870882635919),
 (2378, 0.13259870882635919),
 (3376, 0.13259870882635919),
 (740, 0.13199091933711365),
 (1715, 0.1309307341415954),
 (529, 0.13041013273932528),
 (778, 0.13041013273932528),
 (1037, 0.13041013273932528),
 (1617, 0.13041013273932528),
 (483, 0.1301200097264711),
 (1658, 0.1301200097264711),
 (420, 0.12888481555661674),
 (238, 0.12777531299998796),
 (939, 0.12777531299998796),
 (1741, 0.12777531299998796),
 (4673, 0.12777531299998796),
 (228, 0.12741179785940637),
 (2713, 0.12741179785940637),
 (3309, 0.12741179785940637),
 (432, 0.12598815766974242),
 (28, 0.12555296411486888),
 (275, 0.12555296411486888),
 (1274, 0.12555296411486888),
 (2075, 0.12555296411486888),
 (2868, 0.12555296411486888),
 (454, 0.1246111965698067),
 (549, 0.1246111965698067),
 (95, 0.12461119656980668),
 (72, 0.12344267996967351),
 (579, 0.12344267996967351),
 (1982, 0.12344267996967351),
 (123, 0.12327841818038447),
 (2547, 0.12327841818038447),
 (1512, 0.12327841818038446),
 (624, 0.12298800925361816),
 (653, 0.12298800925361816),
 (1575, 0.12298800925361816),
 (3147, 0.12298800925361816),
 (1277, 0.12198750911856666),
 (3407, 0.12198750911856665),
 (50, 0.12143534814378325),
 (692, 0.12073632210407378),
 (169, 0.11952286093343936),
 (808, 0.11952286093343936),
 (1574, 0.11952286093343936),
 (2259, 0.11952286093343936),
 (3630, 0.11952286093343936),
 (3721, 0.11952286093343936),
 (166, 0.11952286093343935),
 (232, 0.11952286093343935),
 (294, 0.11952286093343935),
 (859, 0.11952286093343935),
 (1616, 0.11952286093343935),
 (5, 0.1183452670827877),
 (206, 0.1183452670827877),
 (10, 0.11769797726729994),
 (513, 0.11769797726729994),
 (1031, 0.11769797726729994),
 (3008, 0.11769797726729994),
 (81, 0.11710800875382396),
 (141, 0.11633501014942217),
 (627, 0.11633501014942217),
 (1373, 0.11633501014942217),
 (2323, 0.11633501014942217),
 (4000, 0.11633501014942217),
 (4018, 0.11633501014942217),
 (199, 0.11609086505314302),
 (87, 0.11595420713048966),
 (126, 0.11595420713048966),
 (508, 0.11595420713048966),
 (687, 0.11595420713048966),
 (2583, 0.11595420713048966),
 (777, 0.11501092655705902),
 (14, 0.11428571428571427),
 (854, 0.11428571428571427),
 (900, 0.11428571428571427),
 (1195, 0.11428571428571427),
 (2013, 0.11428571428571427),
 (2450, 0.11428571428571427),
 (3498, 0.11428571428571427),
 (325, 0.11338934190276817),
 (1524, 0.11338934190276817),
 (1721, 0.11338934190276817),
 (2634, 0.11338934190276817),
 (4135, 0.11338934190276817),
 (4203, 0.11338934190276817),
 (18, 0.1129384878631564),
 (1019, 0.1129384878631564),
 (2106, 0.1129384878631564),
 (2439, 0.1129384878631564),
 (2760, 0.1129384878631564),
 (131, 0.1126872339638022),
 (330, 0.1126872339638022),
 (1082, 0.1126872339638022),
 (1294, 0.1126872339638022),
 (3340, 0.1126872339638022),
 (3620, 0.1126872339638022),
 (4097, 0.1126872339638022),
 (102, 0.11194341570991125),
 (1497, 0.11194341570991125),
 (174, 0.11115400287534567),
 (266, 0.11115400287534567),
 (312, 0.11115400287534567),
 (2072, 0.11115400287534567),
 (2181, 0.11115400287534567),
 (4079, 0.11115400287534567),
 (403, 0.1109741904046188),
 (239, 0.11097419040461878),
 (3781, 0.11065666703449763),
 (773, 0.11065666703449761),
 (1727, 0.11065666703449761),
 (3055, 0.11065666703449761),
 (3663, 0.11065666703449761),
 (3954, 0.11065666703449761),
 (295, 0.10968169942141635),
 (535, 0.10968169942141635),
 (1273, 0.10968169942141635),
 (3102, 0.10968169942141635),
 (139, 0.10910894511799617),
 (182, 0.10826639239215334),
 (754, 0.10826639239215334),
 (988, 0.10826639239215334),
 (4230, 0.10826639239215334),
 (105, 0.10811249552346706),
 (476, 0.10811249552346706),
 (1156, 0.10811249552346706),
 (2456, 0.10811249552346706),
 (2521, 0.10811249552346706),
 (2562, 0.10811249552346706),
 (2762, 0.10811249552346706),
 (3839, 0.10811249552346706),
 (4198, 0.10811249552346706),
 (4545, 0.10733469768527294),
 (334, 0.10690449676496976),
 (643, 0.10690449676496976),
 (1056, 0.10690449676496976),
 (1109, 0.10690449676496976),
 (3464, 0.10690449676496976),
 (3783, 0.10690449676496976),
 (85, 0.10631548679075009),
 (148, 0.1057361065275362),
 (157, 0.1057361065275362),
 (233, 0.1057361065275362),
 (263, 0.1057361065275362),
 (715, 0.1057361065275362),
 (935, 0.1057361065275362),
 (1280, 0.1057361065275362),
 (2660, 0.1057361065275362),
 (4331, 0.1057361065275362),
 (4623, 0.1057361065275362),
 (129, 0.10559273546969093),
 (510, 0.10559273546969093),
 (898, 0.10559273546969093),
 (3443, 0.10559273546969093),
 (4045, 0.10559273546969093),
 (307, 0.10460520656316097),
 (1086, 0.10432810619146021),
 (1233, 0.10432810619146021),
 (2596, 0.1043281061914602),
 (33, 0.10350983390135313),
 (35, 0.10350983390135313),
 (400, 0.10350983390135313),
 (660, 0.10350983390135313),
 (781, 0.10350983390135313),
 (920, 0.10350983390135313),
 (1306, 0.10350983390135313),
 (1501, 0.10350983390135313),
 (1942, 0.10350983390135313),
 (2661, 0.10350983390135313),
 (4256, 0.10350983390135313),
 (270, 0.1031078524452934),
 (278, 0.1031078524452934),
 (279, 0.1031078524452934),
 (371, 0.1031078524452934),
 (412, 0.1031078524452934),
 (870, 0.1031078524452934),
 (1202, 0.1031078524452934),
 (1439, 0.1031078524452934),
 (473, 0.1019294382875251),
 (813, 0.1019294382875251),
 (933, 0.1019294382875251),
 (1276, 0.1019294382875251),
 (1846, 0.1019294382875251),
 (2003, 0.1019294382875251),
 (2284, 0.1019294382875251),
 (292, 0.10141851056742199),
 (530, 0.10141851056742199),
 (691, 0.10141851056742199),
 (791, 0.10141851056742199),
 (1077, 0.10141851056742199),
 (1301, 0.10141851056742199),
 (2651, 0.10141851056742199),
 (3093, 0.10141851056742199),
 (3736, 0.10141851056742199),
 (1089, 0.10101525445522107),
 (410, 0.10079052613579392),
 (1823, 0.10079052613579392),
 (243, 0.09968895725584535),
 (785, 0.09960238411119947),
 (142, 0.0994490316197694),
 (564, 0.0994490316197694),
 (1408, 0.0994490316197694),
 (1474, 0.0994490316197694),
 (1589, 0.0994490316197694),
 (1686, 0.0994490316197694),
 (1756, 0.0994490316197694),
 (2396, 0.0994490316197694),
 (2652, 0.0994490316197694),
 (389, 0.09944903161976938),
 (589, 0.09862273454430757),
 (618, 0.09862273454430757),
 (1357, 0.09862273454430757),
 (43, 0.09759000729485333),
 (2488, 0.09759000729485333),
 (2796, 0.09759000729485333),
 (122, 0.09759000729485331),
 (362, 0.09759000729485331),
 (1027, 0.09759000729485331),
 (2093, 0.09759000729485331),
 (596, 0.09658905768325902),
 (1418, 0.09658905768325902),
 (12, 0.09583148474999097),
 (21, 0.09583148474999097),
 (23, 0.09583148474999097),
 (236, 0.09583148474999097),
 (511, 0.09583148474999097),
 (794, 0.09583148474999097),
 (922, 0.09583148474999097),
 (2817, 0.09583148474999097),
 (2840, 0.09583148474999097),
 (3428, 0.09583148474999097),
 (160, 0.09569487529386908),
 (1924, 0.09561828874675149),
 (479, 0.09508728264112047),
 (1278, 0.09467621366623016),
 (1832, 0.09467621366623016),
 (242, 0.09416472308615166),
 (306, 0.09416472308615166),
 (901, 0.09416472308615166),
 (960, 0.09416472308615166),
 (980, 0.09416472308615166),
 (1004, 0.09416472308615166),
 (1249, 0.09416472308615166),
 (1523, 0.09416472308615166),
 (4468, 0.09416472308615166),
 (799, 0.09390602830316849),
 (1496, 0.09376144618769908),
 (2388, 0.09376144618769908),
 (2856, 0.09376144618769908),
 (4353, 0.09376144618769908),
 (4502, 0.09376144618769908),
 (4516, 0.09376144618769908),
 (4654, 0.09376144618769908),
 (2448, 0.09276773134741387),
 (112, 0.09258200997725513),
 (164, 0.09258200997725513),
 (227, 0.09258200997725513),
 (349, 0.09258200997725513),
 (369, 0.09258200997725513),
 (626, 0.09258200997725513),
 (775, 0.09258200997725513),
 (1378, 0.09258200997725513),
 (1700, 0.09258200997725513),
 (1790, 0.09258200997725513),
 (2167, 0.09258200997725513),
 (3449, 0.09258200997725513),
 (3537, 0.09258200997725513),
 (3816, 0.09258200997725513),
 (4626, 0.09258200997725513),
 (63, 0.09200874124564722),
 (107, 0.09200874124564722),
 (170, 0.09200874124564722),
 (467, 0.09200874124564722),
 (2005, 0.09200874124564722),
 (2968, 0.09200874124564722),
 (32, 0.09116846116771035),
 (45, 0.09116846116771035),
 (363, 0.09116846116771035),
 (491, 0.09116846116771035),
 (812, 0.09116846116771035),
 (2498, 0.09116846116771035),
 (75, 0.09107651110783743),
 (88, 0.09107651110783743),
 (98, 0.09107651110783743),
 (121, 0.09107651110783743),
 (245, 0.09107651110783743),
 (315, 0.09107651110783743),
 (356, 0.09107651110783743),
 (786, 0.09107651110783743),
 (894, 0.09107651110783743),
 (937, 0.09107651110783743),
 (1269, 0.09107651110783743),
 (3301, 0.09107651110783743),
 (222, 0.09035079029052512),
 (381, 0.09035079029052512),
 (2274, 0.09035079029052512),
 (2880, 0.09035079029052512),
 (3154, 0.09035079029052512),
 (4165, 0.09035079029052512),
 (4737, 0.09035079029052512),
 (2386, 0.09009374626955588),
 (1, 0.08964214570007951),
 (96, 0.08964214570007951),
 (241, 0.08964214570007951),
 (814, 0.08964214570007951),
 (2247, 0.08964214570007951),
 (2251, 0.08964214570007951),
 (2304, 0.08964214570007951),
 (2794, 0.08964214570007951),
 (4259, 0.08964214570007951),
 (4657, 0.08964214570007951),
 (654, 0.089554732567929),
 (1878, 0.089554732567929),
 (1282, 0.08877935232369503),
 (1828, 0.08877935232369503),
 (39, 0.08827348295047496),
 (86, 0.08827348295047496),
 (101, 0.08827348295047496),
 (203, 0.08827348295047496),
 (457, 0.08827348295047496),
 (543, 0.08827348295047496),
 (547, 0.08827348295047496),
 (899, 0.08827348295047496),
 (1113, 0.08827348295047496),
 (1142, 0.08827348295047496),
 (1207, 0.08827348295047496),
 (1473, 0.08827348295047496),
 (3091, 0.08827348295047496),
 (3235, 0.08827348295047496),
 (3310, 0.08827348295047496),
 (103, 0.0880237696271323),
 (193, 0.0880237696271323),
 (501, 0.0880237696271323),
 (3441, 0.0880237696271323),
 (19, 0.08728715609439694),
 (1139, 0.08728715609439694),
 (1405, 0.08728715609439694),
 (1621, 0.08728715609439694),
 (2165, 0.08728715609439694),
 (2250, 0.08728715609439694),
 (2339, 0.08728715609439694),
 (3069, 0.08728715609439694),
 (3218, 0.08728715609439694),
 (4492, 0.08728715609439694),
 (4718, 0.08728715609439694),
 (70, 0.08696565534786725),
 (634, 0.08696565534786725),
 (746, 0.08696565534786725),
 (787, 0.08696565534786725),
 (1161, 0.08696565534786725),
 (3028, 0.08696565534786725),
 (3140, 0.08696565534786725),
 (3423, 0.08696565534786725),
 (3910, 0.08696565534786725),
 (51, 0.086568731069961),
 (1898, 0.086568731069961),
 (2203, 0.086568731069961),
 (572, 0.08656873106996099),
 (1534, 0.08656873106996099),
 (2099, 0.08656873106996099),
 (153, 0.08586775814821836),
 (1639, 0.08586775814821836),
 (207, 0.0857142857142857),
 (257, 0.0857142857142857),
 (1614, 0.0857142857142857),
 (2253, 0.0857142857142857),
 (2644, 0.0857142857142857),
 (1926, 0.08518354199999197),
 (3431, 0.08518354199999197),
 (37, 0.08451542547285165),
 (472, 0.08451542547285165),
 (503, 0.08451542547285165),
 (534, 0.08451542547285165),
 (680, 0.08451542547285165),
 (752, 0.08451542547285165),
 (776, 0.08451542547285165),
 (987, 0.08451542547285165),
 (1401, 0.08451542547285165),
 (1655, 0.08451542547285165),
 (2712, 0.08451542547285165),
 (2801, 0.08451542547285165),
 (2882, 0.08451542547285165),
 (3389, 0.08451542547285165),
 (3470, 0.08451542547285165),
 (3527, 0.08451542547285165),
 (4061, 0.08451542547285165),
 (4431, 0.08451542547285165),
 (4473, 0.08451542547285165),
 (4641, 0.08451542547285165),
 (190, 0.08386278693775347),
 (82, 0.08336550215650926),
 (138, 0.08336550215650926),
 (223, 0.08336550215650926),
 (329, 0.08336550215650926),
 (471, 0.08336550215650926),
 (632, 0.08336550215650926),
 (885, 0.08336550215650926),
 (2683, 0.08336550215650926),
 (3355, 0.08336550215650926),
 (230, 0.08322503785764788),
 (2763, 0.08322503785764788),
 (16, 0.08226127456606226),
 (254, 0.08226127456606226),
 (1290, 0.08226127456606226),
 (1560, 0.08226127456606226),
 (1765, 0.08226127456606226),
 (2820, 0.08226127456606226),
 (4055, 0.08226127456606226),
 (4451, 0.08226127456606226),
 (62, 0.08199200616907877),
 (189, 0.08199200616907877),
 (256, 0.08199200616907877),
 (850, 0.08199200616907877),
 (1323, 0.08199200616907877),
 (1664, 0.08199200616907877),
 (2326, 0.08199200616907877),
 (2789, 0.08199200616907877),
 (3155, 0.08199200616907877),
 (3253, 0.08199200616907877),
 (4568, 0.08199200616907877),
 (11, 0.081199794294115),
 (71, 0.081199794294115),
 (365, 0.081199794294115),
 (1289, 0.081199794294115),
 (1367, 0.081199794294115),
 (3206, 0.081199794294115),
 (3701, 0.081199794294115),
 (274, 0.08095109602454656),
 (59, 0.08024108542850393),
 (125, 0.08021849185198157),
 (737, 0.08017837257372731),
 (2163, 0.08017837257372731),
 (2592, 0.08017837257372731),
 (4640, 0.08017837257372731),
 (109, 0.07968190728895957),
 (200, 0.07968190728895957),
 (205, 0.07968190728895957),
 (313, 0.07968190728895957),
 (800, 0.07968190728895957),
 (1045, 0.07968190728895957),
 (1288, 0.07968190728895957),
 (1521, 0.07968190728895957),
 (2317, 0.07968190728895957),
 (2381, 0.07968190728895957),
 (2410, 0.07968190728895957),
 (2551, 0.07968190728895957),
 (2659, 0.07968190728895957),
 (3430, 0.07968190728895957),
 (3832, 0.07968190728895957),
 (4412, 0.07968190728895957),
 (79, 0.0791945516022682),
 (271, 0.0791945516022682),
 (665, 0.0791945516022682),
 (732, 0.0791945516022682),
 (908, 0.0791945516022682),
 (2395, 0.0791945516022682),
 (2916, 0.0791945516022682),
 (3022, 0.0791945516022682),
 (4083, 0.0791945516022682),
 (55, 0.07859774918918593),
 (587, 0.07824607964359516),
 (1325, 0.07824607964359516),
 (2021, 0.07824607964359516),
 (2363, 0.07824607964359516),
 (2701, 0.07824607964359516),
 (2831, 0.07824607964359516),
 (3907, 0.07824607964359516),
 (4123, 0.07824607964359516),
 (2354, 0.07824607964359515),
 (179, 0.07755667343294811),
 (229, 0.07755667343294811),
 (1005, 0.07755667343294811),
 (1348, 0.07755667343294811),
 (1769, 0.07755667343294811),
 (2136, 0.07755667343294811),
 (2161, 0.07755667343294811),
 (2212, 0.07755667343294811),
 (2787, 0.07755667343294811),
 (3072, 0.07755667343294811),
 (3398, 0.07755667343294811),
 (3982, 0.07755667343294811),
 (3994, 0.07755667343294811),
 (76, 0.07733088933397005),
 (591, 0.07733088933397005),
 (784, 0.07733088933397005),
 (1175, 0.07733088933397005),
 (1623, 0.07733088933397005),
 (2052, 0.07733088933397005),
 (2241, 0.07733088933397005),
 (3188, 0.07733088933397005),
 (488, 0.07655590023509526),
 (9, 0.07644707871564382),
 (212, 0.07644707871564382),
 (419, 0.07644707871564382),
 (536, 0.07644707871564382),
 (979, 0.07644707871564382),
 (1446, 0.07644707871564382),
 (1632, 0.07644707871564382),
 (1883, 0.07644707871564382),
 (570, 0.07559289460184544),
 (635, 0.07559289460184544),
 (728, 0.07559289460184544),
 (782, 0.07559289460184544),
 (827, 0.07559289460184544),
 (1262, 0.07559289460184544),
 (1292, 0.07559289460184544),
 (1770, 0.07559289460184544),
 (1774, 0.07559289460184544),
 (2533, 0.07559289460184544),
 (2650, 0.07559289460184544),
 (2698, 0.07559289460184544),
 (3822, 0.07559289460184544),
 (4099, 0.07559289460184544),
 (4403, 0.07559289460184544),
 (4443, 0.07559289460184544),
 (2056, 0.07476671794188403),
 (97, 0.07476671794188401),
 (997, 0.07476671794188401),
 (1018, 0.07476671794188401),
 (1146, 0.07476671794188401),
 (1168, 0.07476671794188401),
 (1340, 0.07476671794188401),
 (1701, 0.07476671794188401),
 (3390, 0.07476671794188401),
 (183, 0.07466533929465573),
 (674, 0.07396705090823068),
 (704, 0.07396705090823068),
 (1996, 0.07396705090823068),
 (2018, 0.07396705090823068),
 (100, 0.07377111135633174),
 (336, 0.07377111135633174),
 (1171, 0.07377111135633174),
 (1737, 0.07377111135633174),
 (2114, 0.07377111135633174),
 (3241, 0.07377111135633174),
 (3671, 0.07377111135633174),
 (3976, 0.07377111135633174),
 (4006, 0.07377111135633174),
 (4290, 0.07377111135633174),
 (1990, 0.07333587976225689),
 (30, 0.07319250547113999),
 (215, 0.07319250547113999),
 (262, 0.07319250547113999),
 (281, 0.07319250547113999),
 (2320, 0.07319250547113999),

In [225]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movie_list =sorted(list(enumerate(distance)), reverse=True , key= lambda x:x[1])[1:6]
    
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [226]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [227]:
import pickle

In [228]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl' , 'wb'))

In [230]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))